html {
    background-color: #eeeeee;
}

body {
    font-family: helvetica, ariel, 'sans serif';
    color: #000;
    background-color: #ffffff;
    text-align:left; /* for IE */
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    padding-left:  50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 30px;
    max-width: 960px;
}

.papericon {
    #border-radius: 8px;
    -moz-box-shadow: 3px 3px 6px #888;
    -webkit-box-shadow: 3px 3px 6px #888;
    box-shadow: 3px 3px 6px #888;
}

.portrait{
    margin-right: 60px;
    margin-left: 30px;
}

.autobiography
{
    margin-top: 20px;
    margin-bottom: 20px;
}

p {
    margin-top: 0px;
    margin-bottom: 0px;
}

/*.caption {*/
    /*font-size: 34px;*/
    /*font-weight: normal;*/
    /*color: #000;*/
    /*font-family: Tahoma, Geneva, sans-serif;*/
/*}*/
/*.caption-1 {*/
    /*font-size: 16px;*/
    /*font-family: ‘Arial Black’, Gadget, sans-serif;*/
/*}*/
/*.caption-2 {*/
    /*font-size: 16px;*/
    /*font-family: ‘Arial Black’, Gadget, sans-serif;*/
    /*font-weight: bold;*/
    /*color: #990000;*/
/*}*/
/*.caption-3 {*/
    /*font-size: 16px;*/
    /*font-family: ‘Arial Black’, Gadget, sans-serif;*/
    /*font-weight: bold;*/
    /*color: #F00;*/
/*}*/
/*.caption-4 {*/
    /*font-size: 16px;*/
    /*font-family: ‘Arial Black’, Gadget, sans-serif;*/
    /*color: #990000;*/
/*}*/

.content {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}
.content a {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
}
    /*.content strong a {
        font-size: 16px;
        font-family: Tahoma, Geneva, sans-serif;
        color: #990000;
    }*/

heading {
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 15px;
    font-weight: 700
}
.title-small {
    font-size: 20px;
    font-family:Tahoma, Geneva, sans-serif;
    font-weight: bold;
    color:  #003366;
}
.title-large {
    font-size: 23px;
    font-family: Tahoma, Geneva, sans-serif;
    font-weight: bold;
    color: #000;
}

.margin {
    font-size: 10px;
    line-height: 10px;
}
.margin-small {
    font-size: 5px;
    line-height: 5px;
}
.margin-large {
    font-size: 16px;
    line-height: 16px;
}

a:link {
    color: #1f82a9;
    background:transparent ;
    text-decoration: underline;
    cursor:pointer;
    background-color:underline;
}

a:visited {
    text-decoration: none;
}

a:hover {
    color: #006699;
    background:inherit;
    text-decoration: underline;
}

/*content a:link {*/
    /*text-decoration: none;*/
/*}*/
/*content a:visited {*/
    /*text-decoration: none;*/
/*}*/
/*a:hover {*/
    /*text-decoration: underline;*/
/*}*/
a:active {
    text-decoration: underline;
    color: #06F;
    font-family: Tahoma, Geneva, sans-serif;
}
strong a:active {
    text-decoration: underline;
    color: #06F;
}